        <footer class="footer-carrez">
            <h4><i class="fa fa-github fa-lg"></i></h4>
            Developed with fun ! 
            <h4><i class="fa fa-graduation-cap fa-lg"></i></h4>
        </footer>
    </body>
</html>
