        <footer class="footer-carrez">
            <a href="https://github.com/MarcHbb/carrez"><h4><i class="fa fa-github fa-lg"></i></h4></a>
            <small>Developed with fun !</small>
            <a href="http://www.esilv.fr/"><h4><i class="fa fa-graduation-cap fa-lg"></i></h4></a>
        </footer>
    </body>
</html>
